body{
    background-color: beige;
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hargafinal{
    font-weight: bold;
    color: brown;
}

a:link{
    text-decoration: none;
    color: green;
}

a:visited{
    text-decoration: none;
    color: green;

}

a:hover{
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}

.profilepicture{
    border-radius: 50%;
}

.photo{
    border-radius: 25px; /*buat rounded*/
    border: 2px solid #a3a4a2; /* tebal jenis warna */
    padding: 10px; /*jarak isi dengan border*/
    width: 510px; /*kalo ga diset nanti akan full 1 halaman */
}
